<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myFortuneService" class="org.example.services.HappyFortuneService"/>
    <bean id="baseballCoach" class="org.example.model.BaseballCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>
    <bean id="trackCoach" class="org.example.model.TrackCoach">
        <constructor-arg ref="myFortuneService"/>
    </bean>
    <bean id="cricketCoach" class="org.example.model.CricketCoach">
        <property name="fortuneService" ref="myFortuneService" />
    </bean>
</beans>